@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze&display=swap");
.banner_caption {
  position: relative;
  width: 100%;
  height: 600px;

  background: url("/assets/slide/slidevideo1.mp4");
}

.video-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.video_box {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video_box2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.video_box7 {
  position: absolute;
  width: 100%;
  height: 101vh;
  object-fit: cover;
}
.video_box4 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.video_box55 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.video_box3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner_new {
  background: linear-gradient(135deg, #2f1c55, #643a7a);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}
.video_section2 {
  position: relative;
  top: 0;
  z-index: 1000;
  padding: 30px 0px;
}
.video_section2 .background_img2 {
  width: 50%;
}

.video_section2 .background_img3 {
  width: 80%;
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}

.addimg_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.3s;
  animation: wave 2s infinite;
}

.addimg_box img {
  height: auto;
  object-fit: cover;
}

.addimg_box:hover {
  transform: scale(1.1);
}

.caption-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.caption-text img {
  width: 300px;
  height: 300px;
}

.caption-text h1 {
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.sect_2_bg {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}
.sect_8_bg {
  position: relative;
  background-image: url("./assets/slide/lastslidelogo3.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.banner_caption_8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_caption_8 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.sect_9_bg {
  position: relative;
  background-image: url("./assets/slide/lastslidelogo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffd700; /* Match the golden color from the image */
}
.sect_10_bg {
  position: relative;
  background-image: url("./assets/slide/Slide_2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffd700; /* Golden color for the text */
}

.bonus_text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffd700;
}

.bonus_subtext {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #ffd700;
}

.signup_button {
  background-color: #ff00ff; /* Purple button color */
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_field {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid #ffd700;
  border-radius: 5px;
}

.subscribe_button {
  background-color: #ff00ff; /* Purple button color */
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.video_box9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.banner_caption_9 {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  font-family: "Kalnia", sans-serif;
}

.banner_text_1,
.banner_text_2 {
  font-size: 3em;
  margin: 5px 0;
  color: #ffd700; /* Match the golden color */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5),
    0 0 30px rgba(255, 215, 0, 0.3); /* Add glowing effect */
}

.banner_subtext {
  font-size: 2.5em;
  margin: 10px 0;
  color: #ffd700; /* Match the golden color */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5),
    0 0 30px rgba(255, 215, 0, 0.3); /* Add glowing effect */
}
.banner_subtext span {
  display: block;
  margin: 15px 10px;
}

.social_icons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.social_icons img {
  width: 100px;
  margin: 10px 20px;
  height: 100px;
}
/* //social icons */

.icon-bar {
  position: fixed;
  top: 90%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000 !important;
}

.icon-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin: 10px;
  text-decoration: none;
  border-radius: 50%;
}

.facebook {
  background: #3b5998;
  color: white;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1000; /* Ensure it is above other content */
  background-color: #fff !important; /* White background */
  color: black !important; /* Black text */
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.3s;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -60px; /* Center align the tooltip */
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* Position it below the tooltip */
  left: 50%; /* Center the arrow */
  margin-left: -5px; /* Adjust the arrow to align with the tooltip */
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent; /* White arrow */
  z-index: 2; /* Ensure it appears above other elements */
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; 
} */
/* Custom tooltip styles */
.tooltip-inner {
  border-radius: 6px;
  padding: 5px 10px;
}

/* Adjust the arrow color */
/* .tooltip-arrow {
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
} */

.sect_55_bg {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}
.banner_caption_2 {
  padding: 20px;
  border-radius: 10px;
}

.banner_caption_2 h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffcc00;
}

.banner_caption_2 p {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: bold;
}
.sect_3_bg {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.banner_caption_55 h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Kalnia", sans-serif;
  margin-bottom: 30px;
  text-decoration: underline;
}

.gaming-platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.platform-item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
.platform-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.platform-item:hover img {
  transform: scale(1.1);
}

.banner_caption_3 p {
  font-size: 25px;
  color: #ff9c00;
  font-weight: 800;
  margin: 30px 0px;
}
.banner_caption_3 h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}
.banner_caption_55 p {
  font-size: 25px;
  font-weight: 800;
  margin: 30px 0px;
  font-family: "Kalnia", sans-serif;
  /* text-decoration:underline; */
}

.sect_4_bg {
  background-size: cover;
  background-position: center;
  height: 600px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.banner_caption_4 h2 {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 20px;
  /* color: #ffcc00; */
  font-family: "Kalnia", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.banner_caption_4 .social_text {
  margin-bottom: 70px;
}
.social-icon {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icon:hover {
  transform: scale(1.1);
}
.social-icon img {
  width: 180px;
  height: auto;
}
.arrow {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid gold;
  border-right: 5px solid gold;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.banner_caption_4 h1 {
  position: relative;
  font-size: 36px;
  font-weight: bold;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kalnia", sans-serif;
  color: #fff;
  padding: 20px;
  background: linear-gradient(45deg, #ff4500, #ff8c00);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo-text {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
}

.logo-text-winners {
  font-size: 36px;
  font-weight: bold;
  color: #ffd700;
  margin-right: 10px;
}

.logo-text-club {
  font-size: 36px;
  font-weight: bold;
  color: #00ff00;
}
.image-box {
  top: 20%;
  transform: translate(-50%);
}

.image-box img {
  text-align: center;
}
.sect_5_bg {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}
.banner_caption_5 {
  padding: 20px;
  border-radius: 10px;
  font-family: "Kalnia", sans-serif;
}
.banner_caption_5 .bonus-list strong {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.banner_caption_5 .introduction {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 40px;
  text-decoration: underline;
}
.banner_caption_5 .intro-text {
  font-size: 2.5em;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 20px;
}

.bonus-list {
  list-style-type: none;
  padding: 0;
}

.bonus-list li {
  font-size: 1.5em;
  font-weight: 600;
  margin: 13px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonus-list li strong {
  margin-right: 6px;
  font-size: 1.2em;
  font-family: "Kalnia", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ffcc00;
}

.bonus-list li span {
  margin-left: 10px;
  font-size: 1.5em;
}

.sect_6_bg {
  background-size: cover;
  background-position: center;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.banner_caption_6 {
  padding: 20px;
  border-radius: 10px;
}

.banner_caption_6 .platform-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 60px;
  text-decoration: underline;
  font-family: "Kalnia", sans-serif;
  /* color: #ffcc00; */
}

.platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.platform {
  text-align: center;
  flex: 1;
  font-family: "Kalnia", sans-serif;
  margin: 10px;
}

.platform img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.platform img:hover {
  transform: scale(1.1);
}
.platform p {
  font-size: 2em;
  font-weight: 600;
  margin: 5px 0;
}
.platform span {
  font-size: 1em;
  display: block;
  margin-top: 5px;
}

.game-icon {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.game-icon:hover {
  transform: scale(1.1);
}

.banner_caption_55 {
  position: relative;
}
.banner_caption_6 span {
  text-align: center;
  margin: 0px 10px;
  text-decoration: underline;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animate__heartBeat {
  animation: heartbeat 1s infinite;
}

.showimg {
  display: none !important;
  margin-top: 83px;
}

@media screen and (max-width: 600px) {
  .sect_10_bg {
    height: 70vh;
  }

  .bonus_text {
    font-size: 2rem;
  }

  .bonus_subtext {
    font-size: 1.2rem;
  }

  .input_field {
    width: 80%;
  }

  .signup_button,
  .subscribe_button {
    font-size: 1.2rem;
  }
  .sect_9_bg {
    height: 70vh;
  }
  .video_box9 {
    position: absolute;
    width: 100%;
    height: 70vh;
    /* object-fit: cover; */
  }
  .banner_text_1,
  .banner_text_2 {
    font-size: 2.2em;
    margin: 8px 0;
  }

  .banner_subtext {
    font-size: 1.8em;
    margin: 20px 0;
  }

  .banner_subtext span {
    margin: 10px 8px;
  }

  .social_icons {
    gap: 0.5em;
    margin-top: 0.7em;
  }

  .social_icons img {
    width: 80px;
    height: 80px;
    margin: 7px 15px;
  }
  .iconsJoin {
    margin-top: 40px !important;
    font-size: 1.4em !important;
    font-weight: bold !important;
  }
  .sect_8_bg {
    height: 70vh;
  }
  .sect_4_bg {
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
  }
  .social-icon {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .arrow {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
  }
  .social-icon a {
    width: 70px;
  }
  .social-icon img {
    width: 100px;
    height: auto;
  }
  .platform-item {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
  }
  .sect_3_bg {
    background-size: cover;
    text-align: center;
    color: #f39c12;
    height: 65vh !important;
  }
  .sect_55_bg {
    background-size: cover;
    background-position: center;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
  }
  .sect_6_bg {
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
  }
  .banner_caption_55 {
    position: relative;
  }
  .image-box img {
    width: 300px;
  }
  .banner_caption_4 h1 {
    font-size: 1.2em;
    font-weight: bold;
  }
  .banner_caption_4 h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  .banner_caption_3 p {
    font-size: 22px;
    color: #ff9c00;
    font-weight: 800;
    margin: 30px 0px;
  }
  .banner_caption_3 h2 {
    direction: ltr;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .banner_caption_55 p {
    font-size: 1.5em;
    font-weight: 800;
    margin: 30px 0px;
  }
  .banner_caption_55 h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: underline;
  }

  .bonus-list {
    list-style-type: none;
    padding: 0;
  }

  .bonus-list li {
    font-size: 1em;
    font-weight: 600;
    margin: 10px 4px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff;
  }
  .bonus-list .seven-doller {
    margin-left: 16px;
  }
  .bonus-list li strong {
    font-size: 1.2em;
    font-family: "Kalnia", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffcc00;
  }

  .bonus-list li span {
    font-size: 1.5em;
  }
  .banner_caption {
    position: relative;
    width: 100%;
    height: 300px !important;
    background: url("./assets/slide/slidevideo1.mp4");
  }
  .hide-imgadd {
    display: none !important;
  }
  .showimg {
    display: block !important;
    margin-top: 83px;
  }
  .video_box2 {
    position: absolute;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    display: none;
  }

  .video_box7 {
    position: absolute;
    width: 100%;
    height: 90vh;
    /* object-fit: cover; */
  }
  .video_box4 {
    position: absolute;
    width: 100%;
    height: 70vh;
    /* object-fit: cover; */
  }
  .video_box55 {
    position: absolute;
    width: 100%;
    height: 145vh;
    /* object-fit: cover; */
  }
  .video_box6 {
    position: absolute;
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  .video_box3 {
    position: absolute;
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
  .banner_new {
    background: linear-gradient(135deg, #2f1c55, #643a7a);
    background-position: center;
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
  }
  .platform {
    margin: 10px 0px;
  }
  .video_section2 .background_img3 {
    width: 100%;
  }
  .video_section2 .background_img2 {
    width: 100%;
    height: 50vh;
  }
  .banner_caption_5 .introduction {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: underline;
    color: #fff;
  }

  .banner_caption_5 .intro-text {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
  .banner_caption_6 .platform-title {
    font-size: 1.8em;
    margin-bottom: 40px;
    text-decoration: underline;
    line-height: 40px;
  }
  .platform p {
    font-size: 1.5em;
  }
  .platform img {
    width: 120px;
    height: 120px;
  }
  .platform span {
    font-size: 1em;
  }

  .addimg_box {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s;
    animation: wave 2s infinite;
  }

  .addimg_box img {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
  }
}
